In [1]:
import pandas as pd
from sqlalchemy import create_engine

/Users/kevinlee/anaconda3/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
engine=create_engine('postgresql://postgres:postgres@127.0.0.1:5432/used_cars')

In [3]:
df=pd.read_csv('data/used_cars.csv')
df.to_sql(name='used_cars', con=engine, if_exists='replace', index=False)

In [5]:
df.head()

,maker,model,mileage,manufacture_year,engine_displacement,engine_power,stk_year,transmission,door_count,seat_count,fuel_type,date_created,date_last_seen,price_eur
0,mercedes-benz,124,236842,1994,2000,81,None,man,None,None,gasoline,2015-12-13 13:59:29.155164+00,2015-12-28 03:51:00.703842+00,3200.37
1,bmw,m3,199000,1993,1995,85,None,man,None,None,gasoline,2015-12-13 13:59:29.184036+00,2016-02-11 03:22:38.221928+00,1300.15
2,skoda,fabia,0,2004,1197,66,None,man,4,5,gasoline,2015-12-13 13:59:29.213434+00,2016-02-11 14:41:20.698835+00,14991.67
3,audi,a8,201000,2008,1200,47,None,man,None,None,gasoline,2015-12-13 13:59:29.237329+00,2016-02-11 03:22:39.656896+00,15501.74
4,opel,zafira,230000,2003,2172,92,None,man,4,7,diesel,2015-12-13 13:59:29.263377+00,2015-12-16 03:19:12.161469+00,1500.19

In [4]:
engine.execute('select * from used_cars').fetchall()

[('mercedes-benz', '124', 236842, 1994, 2000, 81, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:29.155164+00', '2015-12-28 03:51:00.703842+00', 3200.37),
 ('bmw', 'm3', 199000, 1993, 1995, 85, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:29.184036+00', '2016-02-11 03:22:38.221928+00', 1300.15),
 ('skoda', 'fabia', 0, 2004, 1197, 66, 'None', 'man', '4', '5', 'gasoline', '2015-12-13 13:59:29.213434+00', '2016-02-11 14:41:20.698835+00', 14991.67),
 ('audi', 'a8', 201000, 2008, 1200, 47, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:29.237329+00', '2016-02-11 03:22:39.656896+00', 15501.74),
 ('opel', 'zafira', 230000, 2003, 2172, 92, 'None', 'man', '4', '7', 'diesel', '2015-12-13 13:59:29.263377+00', '2015-12-16 03:19:12.161469+00', 1500.19),
 ('honda', 'civic', 96000, 1998, 1396, 66, 'None', 'man', '4', '5', 'gasoline', '2015-12-13 13:59:29.3276+00', '2015-12-16 03:19:12.222902+00', 2200.26),
 ('nissan', 'note', 65959, 2006, 1386, 65, 'None', 'man', '4', '5', 'gasoline', '2015-12-13 13:59:29.367914+00', '2015-12-18 23:19:56.322226+00', 4570.5),
 ('opel', 'zafira', 164000, 2006, 1910, 88, 'None', 'auto', '4', '7', 'diesel', '2015-12-13 13:59:29.402203+00', '2015-12-21 22:48:31.028456+00', 5900.67),
 ('hyundai', None, 155000, 2007, 1900, 88, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:29.460842+00', '2015-12-15 04:32:52.821758+00', 2800.3),
 ('ford', 'focus', 252000, 2004, 1753, 74, 'None', 'man', '4', '5', 'diesel', '2015-12-13 13:59:29.488079+00', '2016-02-11 03:22:40.023928+00', 1950.22),
 ('bmw', None, 137000, 1994, 1900, 81, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:29.514603+00', '2016-01-06 19:11:07.544535+00', 3200.37),
 ('mercedes-benz', None, 192000, 1999, 1360, 55, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:29.542048+00', '2016-02-11 03:22:40.310239+00', 3500.41),
 ('bmw', 'favorit', 89300, 1998, 1300, 44, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:29.569829+00', '2015-12-19 23:01:29.281473+00', 2600.3),
 ('suzuki', 'swift', 124458, 1999, 1000, 39, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:29.623682+00', '2015-12-15 04:32:53.137027+00', 850.11),
 ('volvo', 'x-trail', 126000, 1998, 2500, 121, 'None', 'auto', 'None', 'None', 'gasoline', '2015-12-13 13:59:29.652183+00', '2015-12-15 04:32:53.189656+00', 1800.19),
 ('fiat', '500', 35000, 2012, 1248, 70, 'None', 'man', '2', '4', 'diesel', '2015-12-13 13:59:29.712639+00', '2016-02-11 03:22:42.513341+00', 11701.3),
 ('bmw', 'astra', 53000, 2011, 1700, 74, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:29.741888+00', '2015-12-16 03:19:12.805422+00', 12000.33),
 ('seat', 'ibiza', 159000, 1998, 1390, 44, 'None', 'man', '2', '5', 'gasoline', '2015-12-13 13:59:29.791344+00', '2015-12-18 23:19:56.849895+00', 600.07),
 ('nissan', 'qashqai', 67621, 2009, 1997, 104, 'None', 'man', '4', '5', 'gasoline', '2015-12-13 13:59:29.830133+00', '2016-01-20 15:38:29.542314+00', 9976.09),
 ('skoda', 'fabia', 195000, 1998, 1400, 50, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:29.864832+00', '2015-12-17 01:35:49.862873+00', 550.07),
 ('fiat', 'punto', 117000, 2000, 1800, 85, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:48.826183+00', '2015-12-15 04:32:54.370469+00', 1550.19),
 ('bmw', 'x1', 36880, 2013, 1900, 75, 'None', 'man', 'None', 'None', 'diesel', '2015-12-13 13:59:48.854932+00', '2016-01-01 10:37:33.449669+00', 19585.16),
 ('bmw', 'fiesta', 175000, 1995, 1991, 110, 'None', 'man', '4', '5', 'gasoline', '2015-12-13 13:59:48.882369+00', '2016-01-01 10:37:33.545157+00', 999.11),
 ('citroen', 'c4-picasso', 297000, 1997, 1700, 92, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:48.90956+00', '2016-02-11 03:22:43.391141+00', 550.07),
 ('bmw', 'ibiza', 8500, 2014, 1200, 51, 'None', 'auto', 'None', 'None', 'diesel', '2015-12-13 13:59:48.947084+00', '2016-01-01 10:37:33.739828+00', 33186.68),
 ('chevrolet', 'nubira', 84904, 2006, 1796, 89, 'None', 'man', '4', '5', 'gasoline', '2015-12-13 13:59:53.928624+00', '2016-01-22 06:42:11.742518+00', 3890.41),
 ('skoda', 'octavia', 176956, 2006, 2700, 85, 'None', 'auto', 'None', 'None', 'gasoline', '2015-12-13 13:59:58.649455+00', '2016-01-04 15:36:27.49121+00', 4600.52),
 ('bmw', None, 259000, 1997, 1400, 54, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:58.677625+00', '2015-12-15 04:32:55.177058+00', 1000.11),
 ('mercedes-benz', 'swift', 228000, 2001, 1600, 100, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:58.701964+00', '2015-12-15 04:32:55.233913+00', 1850.22),
 ('kia', 'soul', 2, 2010, 1395, 110, 'None', 'man', '4', '5', 'gasoline', '2015-12-13 13:59:58.735158+00', '2016-01-25 07:55:08.358207+00', 20994.34),
 ('kia', None, 125000, 2001, 1400, 80, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:58.760229+00', '2015-12-15 04:32:55.333256+00', 1600.19),
 ('mitsubishi', 'fabia', 289000, 1996, 1400, 59, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:58.78588+00', '2015-12-15 04:32:55.379885+00', 500.07),
 ('skoda', 'fabia', 146000, 2006, 1200, 40, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:58.815863+00', '2015-12-21 22:48:32.141639+00', 6899.78),
 ('audi', '100', 305000, 1992, 2200, 110, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:58.920457+00', '2015-12-19 23:01:30.37309+00', 1800.19),
 ('bmw', None, 26500, 2015, 2000, 103, 'None', 'auto', 'None', 'None', 'diesel', '2015-12-13 13:59:58.994237+00', '2016-01-01 10:37:34.488389+00', 35770.98),
 ('mercedes-benz', 'focus', 175000, 1994, 1600, 85, 'None', 'man', 'None', 'None', 'diesel', '2015-12-13 13:59:59.022278+00', '2015-12-28 03:51:01.71258+00', 4250.48),
 ('ford', 'galaxy', 185000, 1993, 1600, 85, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:59.062163+00', '2015-12-18 23:19:59.696761+00', 1111.14),
 ('audi', 'a8', 171000, 2012, 2967, 184, 'None', 'auto', '4', '5', 'diesel', '2015-12-13 13:59:59.096799+00', '2016-02-11 14:41:20.805549+00', 31675.5),
 ('ford', 'fiesta', 57000, 2006, 1600, 75, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:59.12242+00', '2015-12-26 01:20:45.332933+00', 2750.3),
 ('audi', 'a4', 139000, 2013, 1400, 51, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:59.150838+00', '2016-02-11 03:22:44.894887+00', 6099.67),
 ('ford', 'fabia', 283500, 2007, 1400, 55, 'None', 'man', 'None', 'None', 'diesel', '2015-12-13 13:59:59.190369+00', '2015-12-16 03:19:15.303172+00', 5200.59),
 ('bmw', 'c5', 79999, 2006, 2497, 160, 'None', 'auto', '2', '4', 'gasoline', '2015-12-13 13:59:59.245896+00', '2015-12-19 23:01:30.69921+00', 12000.33),
 ('kia', None, 214000, 1998, 1595, 74, 'None', 'man', '4', '5', 'gasoline', '2015-12-13 13:59:59.30887+00', '2015-12-18 00:19:41.028416+00', 1499.15),
 ('bmw', 'c-max', 299999, 2006, 2993, 170, 'None', 'auto', '4', '5', 'diesel', '2015-12-13 13:59:59.338061+00', '2015-12-19 23:01:30.742417+00', 10601.18),
 ('toyota', 'c1', 137500, 2003, 1000, 50, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:59.39548+00', '2015-12-16 03:19:15.759559+00', 2599.3),
 ('audi', 'a8', 265000, 2002, 4134, 317, 'None', 'auto', 'None', 'None', 'diesel', '2015-12-13 13:59:59.552712+00', '2015-12-15 04:32:56.407408+00', 3500.41),
 ('mercedes-benz', 'octavia', 220000, 1999, 1900, 77, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 13:59:59.663691+00', '2015-12-17 01:35:51.420128+00', 1500.19),
 ('skoda', 'fabia', 142000, 1999, 1149, 43, 'None', 'man', '2', '5', 'gasoline', '2015-12-13 14:00:13.792322+00', '2015-12-26 01:20:45.779775+00', 600.07),
 ('mazda', '626', 133000, 1997, 1600, 77, 'None', 'man', 'None', 'None', 'gasoline', '2015-12-13 14:00:13.8266+00', '2015-12-29 06:01:49.444662+00', 1449.15),
 ('audi', 'q7', 45000, 2012, 2967, 171, 'None', 'auto', 'None', 'None', 'gasoline', '2015-12-13 14:00:13.862982+00', '2016-02-11 03:22:49.766666+00', 12501.41)]

In [6]:
engine.execute('select distinct maker from used_cars').fetchall()

[('mercedes-benz',),
 ('bmw',),
 ('volvo',),
 ('chevrolet',),
 ('audi',),
 ('nissan',),
 ('seat',),
 ('fiat',),
 ('honda',),
 ('toyota',),
 ('mitsubishi',),
 ('citroen',),
 ('kia',),
 ('ford',),
 ('hyundai',),
 ('suzuki',),
 ('mazda',),
 ('skoda',),
 ('opel',)]